header {
  margin: 0; /* Remove margin */
  background-color: #0074d9;
  color: white;
  padding: 15px; /* Adjust padding as needed */
  font-size: 20px;
  
}

.header-content {
  display: flex;
   justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.home-button {
  text-decoration: none; /* Remove underline */
  color: white;
  font-weight: bold;
  position: relative;
}
.home-button::before {
  content: "";
  position: absolute;
  top: -1.5px;
  left: -10px;
  width: 140%;
  height: 130%;
  background-color: rgba(251, 251, 251, 0.463); /* 60% opacity black background */
  border-radius: 10px; /* Adjust as needed for roundness */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1{
   text-align: center;
}

.comic-strip {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Gochi Hand', cursive;
}

.panel {
  width: 90%;
  max-width: 600px;
  margin: 20px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

img {
  max-width: 100%;
}

p {
  font-size: 18px;
  padding: 10px;
}

/* Your existing CSS styles for .comic-strip and .panel */

.arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #0074d9;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  text-decoration: none;
  z-index: 1;
  transition: background-color 0.3s;
}

.arrow:hover {
  background-color: #0056b3;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.ending{
  text-align: center;
  margin-bottom: 20px;
}